

.chatContainer {
    background-color: #EFF2F5;
    order: 1;
    z-index: 1;
    flex-grow: 1;
    flex-basis: 65%;
    margin: 10px 10px;
    border-radius: 10px;

    /* Testing Purpose */
    max-height: 80%;
    margin: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}