
.joinBtn {
    display: flex;
    width: 94%;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #00ae9486;
    color: #fff;
    justify-content: center;
    cursor: pointer;
}

.joinBtn:hover {
    background-color: #00ae94cc;
}